/* font family */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yeseva+One&display=swap");

.font-yesevaone {
  font-family: "Yeseva One", serif;
}
.font-popins {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* share style */
.flex {
  display: flex;
}
.heading {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}
.secondary-heading {
  font-size: 36px;
  font-weight: bold;
  color: 333333;
}
.heading-description {
  font-size: 18px;
  font-weight: 400;
  color: #3e3e3e;
  margin-top: 16px;
  margin-bottom: 18px;
}
.secondary-description {
  font-size: 1rem;
  font-weight: 400;
  color: #434343;
  margin-top: 20px;
}
.btn {
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff5959;
  transition: transform 1s;
}
.btn:hover {
  transform: scale(1.09);
  cursor: pointer;
}
section {
  max-width: 1200px;
  margin: auto;
}

/*  banner */
header {
  max-width: 1200px;
  margin: auto;
}
.banner {
  justify-content: space-between;
  align-items: center;

  margin: 50px auto;
}
.banner-contant {
}
.banner img {
  width: 40%;
}

.banner-heading {
  font-size: 60px;
  font-weight: 400px;
  border-left: 4px solid #ff5959;
  padding-left: 13px;
  width: 550px;
}
.banner-heading span {
  color: #ffad5a;
}
.banner-description {
  width: 400px;
  margin-top: 16px;
  margin-bottom: 18px;
}

/* mission */
.my-mission {
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
}
.my-mission span {
  color: #ffad5a;
}
.mission-card-container {
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.card {
  width: 100%;
  padding: 20px;
  text-align: left;
  margin-top: 50px;
}
.card img {
  width: 141px;
}
#card-1 {
  background-color: rgba(79, 157, 166, 0.1);
}
#card-2 {
  background-color: rgba(255, 89, 89, 0.1);
}
#card-3 {
  background-color: rgba(255, 244, 214, 1);
}
.card-heading {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}
/* develop */
.develop-bg {
  position: absolute;
}
.develop-projects {
  max-width: 1200px;
  margin: auto;
}
.develop-container,
.comunity-projects {
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: 100px;
}
.develop-left {
  position: relative;
  z-index: 1;
}
.develop-left img {
  width: 100%;
}
.develop-bg {
  position: absolute;
  width: 200px;
  top: 30px;
  left: -90px;
  z-index: -1;
}

/* community projects */
.community-right {
  position: relative;
}
.community-right img {
  width: 100%;
}
.community-bg {
  width: 200px;
  position: absolute;
  bottom: -74px;
  right: -94px;
  z-index: -1;
}
/* corona */
.corona-section h2 {
  text-align: center;
}
.corona-section span {
  color: #ffad5a;
}
.corona-contant {
  justify-content: space-between;
  align-items: center;
  gap: 160px;
}
.corona-left {
  width: 50%;
}
.corona-left img {
  width: 100%;
  height: 540px;
  object-fit: contain;
}
/* conoro right */
.corona-right {
  width: 600px;
}

/* footer */
footer {
  background-color: black;
  margin-top: 50px;
}
.footer-contant {
  text-align: center;
  padding: 40px 0;
}
.footer-contant span {
  color: #ff5959;
}
.footer-heading {
  font-size: 36px;
  font-weight: 400;
  color: white;
}
.footer-description {
  font-size: 14px;
  font-weight: 400;
  color: #d9dbe1;
  margin-top: 24px;
}
/* media quary */
@media screen and (max-width: 576px) {
  .banner,
  .mission-card-container,
  .develop-container,
  .comunity-projects,
  .corona-contant {
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .banner-contant {
  }
  .banner img {
    display: none;
  }
  .banner-heading {
    font-size: 30px;
    width: 100%;
  }
  .banner-description {
    width: 100%;
  }
  /* mission */
  .heading {
    font-size: 38px;
  }
  /* develop and community */

  .comunity-projects img {
    width: 100%;
  }
  .develop-container img {
    width: 100%;
  }
  .develop-bg {
    display: none;
  }
  .community-bg {
    display: none;
  }
  /* corona */
  .corona-left {
    width: 100%;
  }
  .corona-right {
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 993px) {
  .banner,
  .develop-container,
  .comunity-projects {
    padding: 20px;
  }
  .banner-heading {
    font-size: 40px;
    width: 100%;
  }
  /* develop */
  .develop-bg {
    display: none;
  }
  .community-bg {
    display: none;
  }
}
